# LV0 Patcher Configuration
## Execute the commands immediately upon parsing
LIVEQUE=true

## Patch CID keyring's type byte to itu (00)
LV0_KSP=0x0509,0x05,00
KBLPARM=0xA3,00

## Patch out secure_kernel's self checks (0syscall6)
LV0_DAT=0x00804D06,21C500000150

## Allow PSPEMU on devkit +more (qaf)
LV0_KSP=0x050A,0x00,3300000000000F057701001506030303
KBLPARM=0x20,3300000000000F057701001506030303

## Load bob and its components
### Stop execution if any of the following commands fail
# ERRBREAK=true
### Config
#### Framework paddrs - intr & idle
# LV0_DAT=0x0005BFE0,0000851F00000000
#### UART config - (bus << 24) | clk [0x1001A = 115200/0x1004E = 38400]
# LV0_DAT=0x0005BFE8,1A000101
#### run test()? - false/true/paddr & arg
# LV0_DAT=0x0005BFEC,0100000000000000
### BOB
# LV0_DAT=0x00040000,mnt2:/bob.bin
# LV0_EXE=0x0005BFE0,0x000400B0
### Misc - load if they exist
# ERRBREAK=false
#### Alice
# LV0_DAT=0x1C100000,mnt2:/alice.bin
#### Bootrom (for neutered bob vs)
# LV0_DAT=0x0005C000,mnt2:/brom.bin